@typeparam TEntity
@typeparam TForm
@inherits BaseAntForm<TEntity, TForm>

@if (Form is not null)
{
    <Form ValidateOnChange="ValidateOnChange" Model="Form" Loading="Form.IsLoading"
          OnFinish="Form.SaveEntityAsync" @ref="AntForm" OnFinishFailed="OnFormErrorAsync"
          Layout="@Layout" Name="@Name" Size="@Size" LabelCol="@LabelCol" LabelAlign="@LabelAlign"
          LabelColSpan="@LabelColSpan" LabelColOffset="@LabelColOffset" WrapperCol="@WrapperCol"
          WrapperColSpan="@WrapperColSpan" WrapperColOffset="@WrapperColOffset">
        <Validator>
            <Sitko.Core.Blazor.FluentValidation.FluentValidator/>
            <Sitko.Core.App.Blazor.Forms.FormEditContextCatcher Form="this"/>
        </Validator>
        <ChildContent>
            @ChildContent(Form)
        </ChildContent>
    </Form>
}
