@typeparam TValue
@inherits BaseAntStorageImageInput<TValue>
<AntDesign.Spin Spinning="IsSpinning">
    <div class="ant-upload-list ant-upload-list-picture-card ant-upload-list-@Size">
        @foreach (var image in _images)
        {
            var tips = image.StorageItem.FileName;
            <div Class="ant-upload-list-picture-card-container" title="@tips">

                <div class="ant-upload-list-item ant-upload-list-item-done  ant-upload-list-item-list-type-picture-card">
                    <div class="ant-upload-list-item-info">
                        <span class="ant-upload-span">
                            @{
                                <a class="ant-upload-list-item-thumbnail" href="@image.Url" target="_blank" rel="noopener noreferrer">
                                    @if (Avatar)
                                    {
                                        <AntDesign.Avatar Size="@AvatarSize" Src="@image.SmallPreviewUrl" Alt="@image.StorageItem.FileName" Class="ant-upload-list-item-image"/>
                                    }
                                    else
                                    {
                                        <img src="@image.SmallPreviewUrl" alt="@image.StorageItem.FileName" class="ant-upload-list-item-image"/>
                                    }
                                </a>
                            }
                            <a target="_blank" rel="noopener noreferrer" class="ant-upload-list-item-name" title="@image.StorageItem.FileName" href="@image.Url">@image.StorageItem.FileName</a>
                        </span>
                    </div>

                    <span class="ant-upload-list-item-actions">
                        @if (ShowOrdering)
                        {
                            <button title="@LeftText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => MoveLeft(image)" disabled="@(!CanMoveLeft(image))">
                                <AntDesign.Icon Type="left"/>
                            </button>
                        }
                        <button title="@PreviewText" type="button" @onclick="() => PreviewFile(image)" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn">
                            <AntDesign.Icon Type="eye"/>
                        </button>
                        <button title="@RemoveText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => RemoveFile(image)">
                            <AntDesign.Icon Type="delete"/>
                        </button>
                        @if (ShowOrdering)
                        {
                            <button title="@RightText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => MoveRight(image)" disabled="@(!CanMoveRight(image))">
                                <AntDesign.Icon Type="right"/>
                            </button>
                        }
                    </span>
                </div>
            </div>
        }
        @if (ShowUpload)
        {
            <CascadingValue Value="this" IsFixed="true">
                <AntStorageItemsInput
                    @ref="FileInput"
                    TValue="TValue"
                    Storage="@Storage"
                    MaxFileSize="MaxFileSize"
                    MaxAllowedFiles="@MaxFilesToUpload"
                    ContentTypes="@ContentTypes"
                    ListType="picture-card"
                    GenerateMetadata="@((request, stream) => GenerateMetadataAsync(request, stream))"
                    @bind-Value="Items"
                    UploadPath="@UploadPath"
                    OnChange="@OnChangeAsync">
                    <div>
                        <AntDesign.Icon Spin="IsSpinning" Type="@(IsSpinning ? "Loading" : "plus")"></AntDesign.Icon>
                        <div className="ant-upload-text">@UploadText</div>
                    </div>
                </AntStorageItemsInput>
            </CascadingValue>
        }
        <AntDesign.Modal Visible="PreviewVisible"
                         Title="@PreviewTitle"
                         Footer="null" OnCancel="@(() => PreviewVisible = false)">
            <img style="width: 100%" src="@ImgUrl" alt="@PreviewTitle"/>
        </AntDesign.Modal>
    </div>
</AntDesign.Spin>
