@typeparam TCollection
@inherits BaseAntStorageFileInput<TCollection>
<AntDesign.Spin Spinning="IsSpinning">
    @if (ShowUpload)
    {
        <CascadingValue Value="this" IsFixed="true">
            <AntStorageItemsInput
                TCollection="TCollection"
                @ref="FileInput"
                Storage="@Storage"
                MaxFileSize="MaxFileSize"
                MaxAllowedFiles="@MaxFilesToUpload"
                ContentTypes="@ContentTypes"
                ListType="text"
                ButtonText="@UploadText"
                GenerateMetadata="@((request, stream) => GenerateMetadataAsync(request, stream))"
                @bind-Value="Items"
                UploadPath="@UploadPath"
                OnChange="@OnChangeAsync">
            </AntStorageItemsInput>
        </CascadingValue>
    }
    <div>
        <div class="ant-upload-list ant-upload-list-text" style="display: inline-block">
            @foreach (var file in _files)
            {
                var tips = file.StorageItem.FileName;
                <AntDesign.Tooltip Title="tips">
                    <Unbound Context="tooltipRef">
                        <div Class="ant-upload-list-text-container">

                            <div class="ant-upload-list-item ant-upload-list-item-done ant-upload-list-item-list-type-text">
                                <div class="ant-upload-list-item-info">
                                    <span class="ant-upload-span">
                                        <div class="ant-upload-text-icon">
                                            <AntDesign.Icon Type="paper-clip"/>
                                        </div>
                                        <a target="_blank" rel="noopener noreferrer" class="ant-upload-list-item-name" title="@file.StorageItem.FileName" href="@file.Url">@file.StorageItem.FileName</a>
                                        <span class="ant-upload-list-item-card-actions">
                                            @if (ShowOrdering)
                                            {
                                                <button title="@UpText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => MoveUp(file)" disabled="@(!CanMoveUp(file))">
                                                    <AntDesign.Icon Type="up"/>
                                                </button>
                                                <button title="@DownText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => MoveDown(file)" disabled="@(!CanMoveDown(file))">
                                                    <AntDesign.Icon Type="down"/>
                                                </button>
                                            }
                                            <button title="@RemoveText" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => RemoveFile(file)">
                                                <AntDesign.Icon Type="delete"/>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </Unbound>
                </AntDesign.Tooltip>
            }
        </div>
    </div>
</AntDesign.Spin>
