@typeparam TEntity
@inherits Sitko.Core.App.Blazor.Forms.BaseForm<TEntity>

<Form ValidateOnChange="ValidateOnChange" Model="Entity" Loading="IsLoading"
      OnFinish="SaveEntityAsync" @ref="AntFormInstance" OnFinishFailed="OnFormErrorAsync"
      Layout="@Layout" Name="@Name" Size="@Size" LabelCol="@LabelCol" LabelAlign="@LabelAlign"
      LabelColSpan="@LabelColSpan" LabelColOffset="@LabelColOffset" WrapperCol="@WrapperCol"
      WrapperColSpan="@WrapperColSpan" WrapperColOffset="@WrapperColOffset">
    <Validator>
        <Sitko.Core.Blazor.FluentValidation.FluentValidator/>
        <Sitko.Core.App.Blazor.Forms.FormEditContextCatcher Form="this"/>
    </Validator>
    <ChildContent>
        @ChildContentFragment
        @if (Debug)
                {
                    <AntFormDebug TEntity="TEntity" Form="this"></AntFormDebug>
                }
    </ChildContent>
</Form>
