@typeparam TItem
@inherits Sitko.Core.Blazor.Components.BaseComponent
@if (ChildContent is not null)
{
    <AntDesign.Table TItem="TItem"
                     DataSource="@Items"
                     RemoteDataSource="true"
                     Total="@Count"
                     OnChange="async model => await OnChangeAsync(model)"
                     @bind-PageSize="@PageSize"
                     Loading="@IsLoading"
                     @ref="Table"
                     @bind-PageIndex="@PageIndex"
                     RowExpandable="@RowExpandable"
                     TreeChildren="@TreeChildren"
                     OnRow="@OnRow"
                     OnHeaderRow="@OnHeaderRow"
                     Title="@Title"
                     Footer="@Footer"
                     Size="@Size"
                     Locale="@Locale"
                     Bordered="@Bordered"
                     ScrollX="@ScrollX"
                     ScrollY="@ScrollY"
                     ScrollBarWidth="@ScrollBarWidth"
                     IndentSize="@IndentSize"
                     ExpandIconColumnIndex="@ExpandIconColumnIndex"
                     RowClassName="@RowClassName"
                     ExpandedRowClassName="@ExpandedRowClassName"
                     OnExpand="@OnExpand"
                     SortDirections="@SortDirections"
                     TableLayout="@TableLayout"
                     OnRowClick="@OnRowClick"
                     HidePagination="@HidePagination"
                     PaginationPosition="@PaginationPosition"
                     TotalChanged="@TotalChanged"
                     OnPageIndexChange="@OnPageIndexChange"
                     OnPageSizeChange="@OnPageSizeChange"
                     SelectedRows="@SelectedRows"
                     SelectedRowsChanged="@SelectedRowsChanged">
        <ChildContent>
            @ChildContent(context)
            <AntListInitializer TEntity="TItem" Table="Table" AntListComponent="this"></AntListInitializer>
        </ChildContent>
    </AntDesign.Table>
}
else
{
    <p>Please specify list columns</p>
}
